@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #23252C;
}

* {
  box-sizing: border-box;
}

.app{
  padding: 3rem 4rem;
  background-color: #23252C;
  border-radius: .7rem;
}

.header-img{
  width: 100%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.main-content-body{
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: #1A1B21;
}

.main-content-header>h1 { 
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 700;
}

.main-content-header>h3 {
  font-size: 13px;
  font-weight: 400;
  color: #F3BF99;
}

.main-content-header>a {
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-content-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

  font-weight: 700;
  font-size: 16px;
  
  margin: 10px;
  color: #F5F5F5
}

.main-content-info>p {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

  margin: 10px;
  font-size: 10px;
  color: #DCDCDC;
}
